* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

a {
  text-decoration: none;
}

.global_container {
  max-width: 1220px;
  display: flex;

}



h1 {
  font-weight: 600;
  font-size: 3em;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

a {
  text-decoration: none;
  color: #696969;
  padding: 0.5rem;
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
  transition: transform 1s;
}

a:hover {
  color: black;
  background-color: #f7f7f7;
  border-radius: 0.5rem;
}

a li:hover {
  font-weight: 600;
  transform: translateX(10px);
}


section {
  margin-left: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

nav {
  padding: 2rem;
  width: 20vw;
  height: 100vh;

}

.nav_social_icons {
  display: flex;
}

nav p {
  margin-top: 2rem;
  color: #696969;
}

.home_container {
  display: flex;
  justify-content: center;
  margin: 2rem;
  gap: 2rem;
}

.circle img {
  /* background-color: red; */
  border-radius: 50%;
  filter: grayscale(1)
}

.home_text_container {
  font-weight: 200;
}

.card_container {
  width: 18.875em;
  height: 12.813em;
  background-color: #d9d9d9;
  cursor: pointer;
}

.card_container:hover {
  background-color: #bbbbbb;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 20vw;
  width: 80vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.322);

}

.overlay-content {
  padding: 2em;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 100vh;
  height: 100%;
  text-align: left;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.overlay-content h2 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.overlay-content p {
  font-weight: 200;
  margin-top: 1.5rem;
  max-width: 90vh;
  text-align: left;
}

button {
  text-align: right;
  background-color: transparent;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.overlay_img_container {
  min-height: 300px;
  background-color: #d9d9d9;


}

.overlay_img_global {
  display: flex;
  gap: 0.5rem;

}

.overlay_img_container_1 {
  width: 380px;
  min-height: 300px;
  background-color: #d9d9d9;
}

.overlay_img_container_2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.overlay_img_container_2 div {
  width: 300px;
  min-height: 200px;
  background-color: #d9d9d9;
}

@media (max-width:1258px) {

  section {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width:930px) {
  section {
    grid-template-columns: repeat(1, 1fr);
  }
}